[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = git@github.com:opscode-cookbooks/apache2.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.com:brennovich/postgresql.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = git@github.com:fnichol/chef-rbenv.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = git@github.com:fnichol/chef-ruby_build.git
[submodule "cookbooks/heroku-toolbelt"]
	path = cookbooks/heroku-toolbelt
	url = git@github.com:jimeh/chef-heroku-toolbelt.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git@github.com:opscode-cookbooks/mysql.git
[submodule "cookbooks/elasticsearch"]
	path = cookbooks/elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/bryanwb/chef-ark.git
[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = https://github.com/fnichol/chef-rvm.git
[submodule "cookbooks/redis"]
	path = cookbooks/redis
	url = https://github.com/phlipper/chef-redis.git
[submodule "cookbooks/mongodb"]
	path = cookbooks/mongodb
	url = https://github.com/edelight/chef-mongodb.git
[submodule "cookbooks/ulimit"]
	path = cookbooks/ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/chef_gem"]
	path = cookbooks/chef_gem
	url = https://github.com/hw-cookbooks/chef_gem.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = https://github.com/customink-webops/phantomjs.git
