[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.com:brennovich/postgresql.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = git@github.com:RiotGames/rbenv-cookbook.git
