[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.com:brennovich/postgresql.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = git@github.com:fnichol/chef-rbenv.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = git@github.com:fnichol/chef-ruby_build.git
[submodule "cookbooks/heroku-toolbelt"]
	path = cookbooks/heroku-toolbelt
	url = git@github.com:jimeh/chef-heroku-toolbelt.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git@github.com:opscode-cookbooks/mysql.git
[submodule "cookbooks/chef-rvm"]
	path = cookbooks/chef-rvm
	url = https://github.com/fnichol/chef-rvm.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/elasticsearch"]
	path = cookbooks/elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/bryanwb/chef-ark.git
